/* --------------------------------------
=========================================
COLOR : BLUE 

MAIN COLOR CODE: #17bbb0

DEEP COLOR CODE: #4cb992
=========================================
----------------------------------------- */

.solid-color {
    background: rgba(23, 187, 176, 1);
}

.standard-button {
    background: #4cb992
;
}

.standard-button2 {
    background: #17bbb0;
}

.standard-button2:hover {
    background: #4cb992
;
}

.btn-primary:focus, 
.btn-primary:active, 
.btn-primary.active, 
.open .dropdown-toggle.btn-primary {
    background: #28b99d;
    border-color: inherit;
}

.colored-line,
.colored-line-left {
    background: #17bbb0;
}

.main-color {
    color: #17bbb0;
}

.color-bg {
	background: #17bbb0;
	color: #FFFFFF;
}

.features .feature:hover .icon-container .icon {
    background: #17bbb0;
    color: #ffffff;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 0px 0px 0px 2px #17bbb0;
            box-shadow: 0px 0px 0px 2px #17bbb0;
}

.features .feature .icon-container .icon {
    border: 1px solid #17bbb0;
    color: #17bbb0;
}

.feature-list li i {
    color: #17bbb0;
}

.services .single-service .service-icon,
.services .single-service h3 {
    color: #17bbb0;
}

.screenshots .owl-theme .owl-controls .owl-page span {
    background: #17bbb0;
}

footer .contact-button {
    border: 2px solid #17bbb0;
    color: #17bbb0;
}

footer .contact-button:hover {
    background: #17bbb0;
}

footer .contact-box .expanded-contact-form .input-box:active,
footer .contact-box .expanded-contact-form .textarea-box:active,
footer .contact-box .expanded-contact-form .input-box:focus,
footer .contact-box .expanded-contact-form .textarea-box:focus {
    border: 1px solid #17bbb0;
}

footer .social-icons li a:hover {
    color: #17bbb0;
}